body {
    font-family: "Helvetica", sans-serif;
    font-size: 180%;
}


#mainDiv {
    text-align: center;
}

#redirectBtn {
    width: 10ch;
}

#redirectBtn:hover {
    background-color: #e4ebf7;
}

#redirectBtn:active {
    background-color: #d2dcec;;
}

input {
    font-size: 70%;
    text-align: center;
    border-radius: 10em;
    border-color: black;
}

input:focus {
    outline: none;
}

