/* blue #3478e5 */
/* light blue #9fbae3 */
body {
    font-family: "Helvetica", sans-serif;
    font-size: 180%;
}

#mainDiv {
    text-align: center;
}

input {
    font-size: 70%;
    text-align: center;
    border-color: black;
    border-radius: 10em;
}

input:focus {
    outline: none;
}

#redirectBtn {
    width: 10ch;
}

#redirectBtn:hover {
    background-color: #e4ebf7;
}

#redirectBtn:active {
    background-color: #d2dcec;
}

#removeAfterDiv {
    margin-top: 0.8vw;
}

#removeAfterDropdownMenu {
    font-size: 70%;
    text-align: center;
    padding-left: 4px;
    border-radius: 10em;
    background-color: white;
    border-width: 2px;
    border-color: black;
}

#removeAfterDropdownMenu:focus {
    outline: none;
}

#removeAfterRedirectDiv {
    margin-top: 0.8vw;
}

label {
    font-size: 70%;
}

input[type=checkbox] {
    transform: scale(1.5);
}

