/* blue #3478e5 */
/* light blue #9fbae3 */
body {
    font-family: "Helvetica", sans-serif;
    font-size: 180%;
    height: 80%;
}

html {
    height: 100%;
}

form {
    height: 100%;
}

h1 {
    font-size: 130%;
    max-height: 15%;
}

p {
    max-height: 5%;
}

#mainDiv {
    text-align: center;
    height: 80%;
}

input {
    font-size: 70%;
    text-align: center;
    border-color: black;
    border-radius: 10em;
}

input:focus {
    outline: none;
}

#contentInput {
    width: 80%;
    max-width: 380px;
}

.button {
    width: 10ch;
}

.button:hover {
    background-color: #e4ebf7;
}

.button:active {
    background-color: #d2dcec;
}

#removeAfterDropdownMenu {
    font-size: 70%;
    text-align: center;
    padding-left: 4px;
    border-radius: 10em;
    background-color: white;
    border-width: 2px;
    border-color: black;
}

#removeAfterDropdownMenu:focus {
    outline: none;
}

.spacerDiv {
    margin-top: 0.8vw;
}

label {
    font-size: 70%;
}

input[type=checkbox] {
    transform: scale(1.5);
}

/** Text upload module below **/
#contentInputTextarea {
    font-size: 70%;
    border-color: black;
    border-radius: 2em;
    padding: 20px;
    width: 900px;
    max-width: 80%;
    height: 800px;
    max-height: 70%;
}

textarea:focus {
    outline: none;
}